*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.scores{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.grid {
    height: 606px;
    width: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

.mole {
    background-image: url(/mole.jpg);
    background-size: cover;
}